.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex: 1 0 30%; 
    margin: 10px;
    margin-left: 20px;
}

.gallery {
    margin: 80px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery img{
    width: 100%;
    display: block;
}

.gallery{
    flex-basis: 31%;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 8% 8%;
}

.buttonView {
    background-color: #C0C0C0;
}

.textStyle{
    text-align: left;
    font-size: 12px;
}

.block {
    display: block;
  }
  
