/* .screen {
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/coffee002.jpg) center/cover fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: auto;
} */


.screen {
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/coffee002.jpg) center/cover fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}


.home__title {
    text-align: left;
    max-width: 670px;
}

.home__title h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 4%;
}

.home__title h2{
    font-size: 45px;
    font-weight: 250;
    color: #A9A9A9;
    margin-top: 12%;
}

.home__title p{
    max-width: 700px;
    margin: 10px auto 20px; 
    line-height: 1.4;
    margin-top: 3%;
    color: #DCDCDC;
}

.button2{
    margin-top: 6%;
}



@media (max-width: 1200px) {
    .screen {
       
    }
}


@media (max-width: 768px) {
    .screen {
        
    }
}

@media (max-width: 375px) {
    .screen {
        
    }
}