nav {
  width: 100%;
  display: flex;
  background-color: #DCDCDC;
  color: #fff;
  padding: 1.2px 0;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

}

.logo{
    width: 60px;
  }

.button {
    margin: 5px 20px;
  }



